<h1>TinyApp</h1>
<% if (username !== null) { %>
    <h4>Keep it Tiny <%= username.email %>!</h4><br />
    <form method="POST" action="/logout">
        <input type="submit" value="logout">
    </form>
    <% } else { %>
        <a href="/register">Register!</a><br />
        <a href="/login">Login</a><br /><br />
<% } %>