<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
        <title>TinyApp Login</title>
    </head>
    <body>
        <header>
            <% include ./partials/_headers %>
        </header>
            <form method="POST" action="/login">
                <input type="email" name="email" placeholder="example@domain.com" style="width: 220px; margin: 1em">
                <input type="password" name="password" placeholder="secret password ;)" style="width: 220px; margin: 1em">
                <button type="submit">Login</button>
            </form>
        </body>
    </html>